<router-outlet></router-outlet>
<!-- ___________________lo de abajo es del curso de apis rest con augular___ -->
<!-- <button (click)="createUser()">Create user</button> -->
<!-- <button (click)="login()">Login</button>
<button (click)="getProfile()">get profile</button> -->
<!-- <p>
  <a href="./assets/files/texto.txt" download>descargar</a>
</p>
<p>
  <button (click)="downloadPDF()">Descargar PDF</button>
</p>
<p>
 <input type="file" (change)="onUpload($event)">
 <img *ngIf="imgRta" [src]="imgRta">
</p>

<app-products></app-products> -->

<!-- <p><input type="text" [(ngModel)] = "imgParent"/></p>
<button (click) = "toggleImg()">Toggle Img</button>
<p>{{ showImg }}</p>
esta se comenta <app-img img [img]= "imgParent"></app-img>
Recibir información desde el hijo, @Output
<app-img *ngIf="showImg"(onload)="onLoaded($event)" [img]= "imgParent"></app-img>
<hr/> -->

